import 'package:flutter/material.dart';
import 'package:get/get.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/presentation/getx/{{nameLowerCase}}_controller.dart';

class {{name}}Screen extends GetView<{{name}}Controller> {
    const {{name}}Screen({super.key});

    @override
    Widget build(BuildContext context) {
        return Scaffold(
            appBar: AppBar(title: const Text('{{name}}')),
            body: Obx(() {
                return controller.state.value.maybeWhen(
                    loading: () => const Center(child: CircularProgressIndicator()),
                    error: (message) => Center(child: Text(message)),
                    orElse: () => const Placeholder(),
                );
            }),
        );
    }
}
