import 'package:equatable/equatable.dart';


{{#fields}}
{{#isRoot}}// Root Entity{{/isRoot}}
class {{name}}{{#isRoot}}Entity{{/isRoot}} extends Equatable {
    {{#properties}}
    final {{{type}}}? {{name}};
    {{/properties}}

    const {{name}}{{#isRoot}}Entity{{/isRoot}}({
        {{#properties}}
        this.{{name}},
        {{/properties}}
    });

    @override
    List<Object?> get props => [{{#properties}}{{name}}, {{/properties}}];
}
{{/fields}}