import 'package:{{projectName}}/features/shared/usecase/base_usecase.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/entities/{{nameLowerCase}}_entity.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/repositories/{{nameLowerCase}}_repository.dart';

{{#hasParams}}
{{#params}}
class {{name}}{{#isRoot}}PathParams{{/isRoot}} {
    {{#properties}}
    final {{{type}}}? {{name}};
    {{/properties}}

    {{name}}{{#isRoot}}PathParams{{/isRoot}}({
        {{#properties}}
        this.{{name}},
        {{/properties}}
    });
}
{{/params}}
{{/hasParams}}

{{#hasBody}}
{{#body}}
class {{name}}{{#isRoot}}BodyParams{{/isRoot}} {
    {{#properties}}
    final {{{type}}}? {{name}};
    {{/properties}}

    {{name}}{{#isRoot}}BodyParams{{/isRoot}}({
        {{#properties}}
        this.{{name}},
        {{/properties}}
    });
}
{{/body}}
{{/hasBody}}

{{#hasQuery}}
{{#query}}
class {{name}}{{#isRoot}}QueryParams{{/isRoot}} {
    {{#properties}}
    final {{{type}}}? {{name}};
    {{/properties}}

    {{name}}{{#isRoot}}QueryParams{{/isRoot}}({
        {{#properties}}
        this.{{name}},
        {{/properties}}
    });
}
{{/query}}
{{/hasQuery}}

{{#hasUseCase}}
class {{methodNamePascalCase}}Params {
    {{#hasParams}}
    final {{methodNamePascalCase}}PathParams pathParams;
    {{/hasParams}}
    {{#hasBody}}
    final {{methodNamePascalCase}}BodyParams bodyParams;
    {{/hasBody}}
    {{#hasQuery}}
    final {{methodNamePascalCase}}QueryParams queryParams;
    {{/hasQuery}}

    {{methodNamePascalCase}}Params({
        {{#hasParams}}
        required this.pathParams,
        {{/hasParams}}
        {{#hasBody}}
        required this.bodyParams,
        {{/hasBody}}
        {{#hasQuery}}
        required this.queryParams,
        {{/hasQuery}}
    });
}
{{/hasUseCase}}

class {{methodNamePascalCase}}UseCase extends BaseUseCase<{{name}}Entity, {{#hasUseCase}} {{methodNamePascalCase}}Params {{/hasUseCase}} {{^hasUseCase}} NoParams {{/hasUseCase}}> {
    final {{name}}Repository {{nameCamelCase}}Repository;

    {{methodNamePascalCase}}UseCase(this.{{nameCamelCase}}Repository);

    @override
    Future<{{name}}Entity> call({{#hasUseCase}} {{methodNamePascalCase}}Params {{/hasUseCase}} {{^hasUseCase}} NoParams {{/hasUseCase}} params) async {
        return {{nameCamelCase}}Repository.{{methodName}}({{#hasUseCase}} params {{/hasUseCase}});
    }
}