import 'package:freezed_annotation/freezed_annotation.dart';
{{^isMultiResponse}}
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/entities/{{nameLowerCase}}_entity.dart';
{{/isMultiResponse}}
{{#isMultiResponse}}
{{#responseEntities}}
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/entities/{{nameLower}}_entity.dart';
{{/responseEntities}}
{{/isMultiResponse}}

part '{{nameLowerCase}}_state.freezed.dart';

@freezed
abstract class {{name}}State with _${{name}}State {
    const factory {{name}}State.initial() = _InitialState;
    const factory {{name}}State.loading() = _LoadingState;
    {{^isMultiResponse}}
    const factory {{name}}State.success({{#isList}}List<{{/isList}}{{name}}Entity{{#isList}}>{{/isList}} {{nameCamelCase}}) = _SuccessState;
    {{/isMultiResponse}}
    {{#isMultiResponse}}
    {{#methods}}
    {{#hasResponse}}const factory {{name}}State.{{methodName}}Success({{#responseIsList}}List<{{/responseIsList}}{{responseEntityName}}Entity{{#responseIsList}}>{{/responseIsList}} data) = _{{methodNamePascalCase}}SuccessState;{{/hasResponse}}
    {{^hasResponse}}const factory {{name}}State.{{methodName}}Success() = _{{methodNamePascalCase}}SuccessState;{{/hasResponse}}
    {{/methods}}
    {{/isMultiResponse}}
    const factory {{name}}State.error(String message) = _ErrorState;
}
