import 'package:flutter_riverpod/flutter_riverpod.dart';
import 'package:injectable/injectable.dart';
import 'package:{{projectName}}/core/di/injector.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/entities/{{nameLowerCase}}_entity.dart';
{{#methods}}
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/usecases/{{methodNameLowerCase}}_usecase.dart';
{{^hasUseCase}}
import 'package:{{projectName}}/features/shared/usecase/usecase.dart';
{{/hasUseCase}}
{{/methods}}

@injectable
class {{name}}Notifier extends AsyncNotifier<{{#isList}}List<{{/isList}}{{name}}Entity{{#isList}}>{{/isList}}?> {
    {{#methods}}
    final {{methodNamePascalCase}}UseCase _{{methodName}}UseCase;
    {{/methods}}

    {{name}}Notifier({
        {{#methods}}
        required {{methodNamePascalCase}}UseCase {{methodName}}UseCase,
        {{/methods}}
    }) : {{#methods}}_{{methodName}}UseCase = {{methodName}}UseCase,{{/methods}}
    super();

    @override
    Future<{{#isList}}List<{{/isList}}{{name}}Entity{{#isList}}>{{/isList}}?> build() async {
        return null;
    }

    {{#methods}}
    Future<void> {{methodName}}({{#hasUseCase}}{{methodNamePascalCase}}{{/hasUseCase}}{{^hasUseCase}}No{{/hasUseCase}}Params param) async {
        try {
            state = AsyncLoading();
            state = await AsyncValue.guard(() async {
                final result = await _{{methodName}}UseCase(param);
                return result;
            });
        } catch (e, stk) {
            state = AsyncError(e, stk);
        }
    }
    {{/methods}}
}

final {{nameCamelCase}}Provider = AsyncNotifierProvider<{{name}}Notifier, {{#isList}}List<{{/isList}}{{name}}Entity{{#isList}}>{{/isList}}?>(
    () => sl<{{name}}Notifier>(),
);