import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:injectable/injectable.dart';
{{#methods}}
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/usecases/{{methodNameLowerCase}}_usecase.dart';
{{/methods}}
import 'package:{{projectName}}/features/{{nameLowerCase}}/presentation/bloc/{{nameLowerCase}}_event.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/presentation/bloc/{{nameLowerCase}}_state.dart';

@injectable
class {{name}}Bloc extends Bloc<{{name}}Event, {{name}}State> {
  {{#methods}}
  final {{methodNamePascalCase}}UseCase _{{methodName}}UseCase;
  {{/methods}}

  {{name}}Bloc({
    {{#methods}}
    required {{methodNamePascalCase}}UseCase {{methodName}}UseCase,
    {{/methods}}
  }) : {{#methods}}_{{methodName}}UseCase = {{methodName}}UseCase,{{/methods}}
       super({{name}}State.initial()) {
    {{#methods}}
    on<{{methodNamePascalCase}}Event>({{methodName}});
    {{/methods}}
  }

  {{#methods}}
  Future<void> {{methodName}}({{methodNamePascalCase}}Event event, Emitter<{{name}}State> emit) async {
    emit({{name}}State.loading());
    try {
      final result = await _{{methodName}}UseCase(event.param);
      emit({{name}}State.success(result));
    } catch (e) {
      emit({{name}}State.error(e.toString()));
    }
  }
  {{/methods}}
}
