import 'package:freezed_annotation/freezed_annotation.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/entities/{{nameLowerCase}}_entity.dart';

part '{{nameLowerCase}}_state.freezed.dart';

@freezed
abstract class {{name}}State with _${{name}}State {
    const factory {{name}}State.initial() = _InitialState;
    const factory {{name}}State.loading() = _LoadingState;
    const factory {{name}}State.success({{#isList}}List<{{/isList}}{{name}}Entity{{#isList}}>{{/isList}} {{nameCamelCase}}) = _SuccessState;
    const factory {{name}}State.error(String message) = _ErrorState;
}